
body{
	text-align: center;
    position:center;
    padding: 10rem !important;
    background-image: url("https://images.wallpaperscraft.com/image/ocean_water_underwater_126683_1920x1080.jpg");
    background-size: cover;
} 
